image:
  repository: blogicapps2-fgbjaff4hhdzcga7.azurecr.io/map-poster/e2e-runner
  pullPolicy: IfNotPresent
  tag: ""

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""
namespaceOverride: ""

serviceAccount:
  enable: true
  name: ""
  annotations: {}
  automountServiceAccountToken: false

podAnnotations: {}
podLabels: {}

podSecurityContext:
  fsGroup: 1001

securityContext:
  runAsNonRoot: true
  runAsUser: 1001
  runAsGroup: 1001
  allowPrivilegeEscalation: false

job:
  backoffLimit: 0
  activeDeadlineSeconds: 1200
  restartPolicy: Never

artifacts:
  sleepSeconds: 1800
  image:
    repository: busybox
    tag: "1.36.1"
    pullPolicy: IfNotPresent

resources:
  limits:
    cpu: "2000m"
    memory: "3Gi"
  requests:
    cpu: "500m"
    memory: "1Gi"

volumes:
  - name: tmp
    emptyDir: {}
  - name: dshm
    emptyDir:
      medium: Memory
      sizeLimit: "1Gi"
  - name: test-results
    emptyDir: {}
  - name: playwright-report
    emptyDir: {}

volumeMounts:
  - name: tmp
    mountPath: /tmp
  - name: dshm
    mountPath: /dev/shm
  - name: test-results
    mountPath: /workspace/apps/web-app/test-results
  - name: playwright-report
    mountPath: /workspace/apps/web-app/playwright-report

nodeSelector: {}
tolerations: []
affinity: {}

env:
  - name: CI
    value: "true"
  - name: BASE_URL
    value: ""
  - name: E2E_SUITE
    value: "full"
