env:
  - name: CI
    value: "true"
  - name: BASE_URL
    value: "https://map-poster-test.kube.blogic.cz"
  - name: E2E_SUITE
    value: "full"

resources:
  limits:
    cpu: "1000m"
    memory: "2Gi"
  requests:
    cpu: "100m"
    memory: "512Mi"
